PRISMA_ENGINES_MIRROR=https://registry.npmmirror.com/-/binary/prisma
PRISMA_BINARIES_MIRROR=http://prisma-builds.s3-eu-west-1.amazonaws.com

DATABASE_URL="postgresql://rag_system_user:c9pc5fQ81ME03VgfpU1Wuhlb3EjX069gC4QQ@localhost:25432/rag_system_db?schema=public"
PORT=23000

# LM studio
# CHAT_PROVIDER=openai
# OPENAI_CHAT_MODEL=qwen2.5-7b-instruct
# OPENAI_CHAT_TEMPERATURE=0.7
# OPENAI_CHAT_BASE_URL=http://localhost:1234/v1
# OPENAI_CHAT_API_KEY=lm-studio
# OPENAI_CHAT_CHUNK_SIZE=10000

# CHAT_PROVIDER=groq
# GROQ_CHAT_MODEL=openai/gpt-oss-20b
# GROQ_CHAT_TEMPERATURE=1
# GROQ_CHAT_BASE_URL=https://api.groq.com/openai/v1
# GROQ_CHAT_CHUNK_SIZE=8000
# GROQ_CHAT_API_KEY=gsk_XXX

CHAT_PROVIDER=ollama
OLLAMA_CHAT_MODEL=mistral
OLLAMA_CHAT_TEMPERATURE=0.7
OLLAMA_CHAT_BASE_URL=http://localhost:11434

EMBEDDINGS_PROVIDER=ollama
OLLAMA_EMBEDDINGS_MODEL=nomic-embed-text
OLLAMA_EMBEDDINGS_BASE_URL=http://localhost:21434

ADMIN_ID=a1a9a512-aceb-49cf-83ac-a0b534486e0b
SOURCES_PATH=../sources
PARALLEL_THREADS=1
ENABLE_FILE_LOGGING=true
MAX_CONSECUTIVE_FAILURES=5
LLM_TIMEOUT_MS=180000
PROCESS_DOCUMENTS=false

# Proxy Configuration (optional)
# GLOBAL_HTTP_PROXY=http://user:password@ip:port
# GLOBAL_HTTPS_PROXY=http://user:password@ip:port
# HTTP_PROXY=http://user:password@ip:port
# HTTPS_PROXY=http://user:password@ip:port